<h1>Employee Data</h1>  
  
<p>This component demonstrates fetching Employee data from the server.</p>  
  
<p *ngIf="!empList"><em>Loading...</em></p>  
  
<p>  
    <a [routerLink]="['/register-employee']">Create New</a>  
</p>  
  


<table class='table' *ngIf="pagedItems">
    <thead>  
        <tr>  
            <th>EmployeeId</th>  
            <th>Name</th>  
            <th>Gender</th>  
            <th>Department</th>  
            <th>City</th>  
        </tr>  
    </thead>  
    <tbody>  
        <tr *ngFor="let emp of pagedItems">  
            <td>{{ emp.employeeId }}</td>  
            <td>{{ emp.name }}</td>  
            <td>{{ emp.gender }}</td>  
            <td>{{ emp.department }}</td>  
            <td>{{ emp.city }}</td>  
            <td>  
            <td>  
                <a [routerLink]="['/employee/edit/', emp.employeeId]">Edit</a> |  
                <a [routerLink]="" (click)="delete(emp.employeeId)">Delete</a>  
            </td>  
        </tr>  
    </tbody>  
</table>

  <!-- items being paged -->
  <!-- <div *ngFor="let item of pagedItems">{{item.employeeId}}</div> -->
 <!-- pager -->
 <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Last</a>
    </li>
</ul>